<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Dashboard Template · Bootstrap</title>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="dashboard.js"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">


  <!-- Bootstrap core CSS -->
  <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">


  <!-- Some Style -->
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>

  <!-- Custom styles for this template -->
  <link href="dashboard.css" rel="stylesheet">
</head>



<body>
<nav class="dashboard-nav sticky-top flex-md-nowrap p-0 shadow">
  <%= image_tag("RootLogo.png", :alt => 'RootLogo', :class => 'RootLogoDashboard') %>
  <%= submit_tag "SignOut", {:class => 'signout-admin btn btn-primary float-right'} %>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>


<div class="container-fluid side-container">
  <div class="row">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky position-fixed sticky-top pt-3">

        <br> <br> <br> <br> <br> <br>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">

          <span class="stuff-info" style="font-family: 'Nunito', sans-serif; color: #2BFF88; margin-top: 50px">Menu</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>

        </h6>

        <br>

        <ul class="nav flex-column">


          <li class="dashboard-menu-items">
              <span data-feather="file"></span>
              <%= link_to "DashBoard", admin_path %>
          </li>

          <li class="dashboard-menu-items">
              <span data-feather="file"></span>
              <%= link_to "Sell", root_path %>
          </li>

          <li class="dashboard-menu-items">
              <span data-feather="shopping-cart"></span>
              <%= link_to "Order", root_path %>
          </li>

          <li class="dashboard-menu-items">
              <span data-feather="users"></span>
              <%= link_to "Products", control_product_path %>
          </li>

          <li class="dashboard-menu-items">
              <span data-feather="bar-chart-2"></span>
              <%= link_to "Customers", root_path %>
          </li>

          <li class="dashboard-menu-items">
              <span data-feather="layers dashboard-menu-items"></span>
            <%= link_to "Reports", root_path %>
          </li>

        </ul>



        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">

          <span class="stuff-info" style="font-family: 'Pacifico', cursive; color: #2BFF88; margin-top: 50px">Status</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>

        </h6>


        <ul class="nav flex-column mb-2">

          <li class="dashboard-menu-items">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>

          <li class="dashboard-menu-items">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>

          <li class="dashboard-menu-items">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>

          <li class="dashboard-menu-items">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>

        </ul>


      </div>

    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 style="font-family: 'Pacifico', cursive; color: #2BFF88">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>

          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>

        </div>

      </div>

      <canvas class="my-4 w-100" id="lineChart" width="900" height="380"></canvas>

      <br> <br> <br>

      <h2 style="font-family: 'Pacifico', cursive; color: #2BFF88">Recent Sales</h2>

      <br>

      <div class="table-responsive">

        <table class="table table-striped table-sm purchase-table">

          <thead>
          <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Items</th>
            <th>Purchase</th>
            <th>Date</th>

          </tr>
          </thead>


          <tbody>
          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          <tr>
            <td>1962</td> <!-- ID -->
            <td>Ashkan</td> <!-- Name -->
            <td>ashkanebtekari@gmail.com</td> <!-- Email -->
            <td>09129212536</td> <!-- Phone -->
            <td>34</td> <!-- Items -->
            <td>$ 1600</td> <!-- Purchase -->
            <td>2020/7/6</td> <!-- Date -->
          </tr>

          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

</body>

<script>

    //line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "Purchases",
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: [
                    'rgb(0,217,167, .7)',
                ],
                borderColor: [
                    'rgb(43,117,143)',
                ],
                borderWidth: 2
            },
                {
                    label: "Sales",
                    data: [28, 48, 40, 19, 86, 27, 90],
                    backgroundColor: [
                        'rgb(0,217,167)',
                    ],
                    borderColor: [
                        'rgb(57,138,119)',
                    ],
                    borderWidth: 2
                }
            ]
        },
        options: {
            responsive: true
        }
    });

</script>

</html>
