<!DOCTYPE html>
<html>
<!-- Navigation Bar -->
<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">

        <!-- NavItems -->
        <nav class="navbar">

          <!-- Logo Brand -->
          <%= image_tag("RootLogo.png", :alt => "RootLogo", :class => "RootlLogo") %>


          <div class="nav-item">

            <!-- Link Tags -->
            <%= link_to "Home", root_path %>
            <%= link_to "Explore", explore_path %>
            <%= link_to "About", root_path %>

          </div>



          <!-- SignUp & Login Buttons -->
          <div class="nav-buttons">

            <%= link_to "LogIn", login_path, :class => 'btn btn-primary login-button' %>
            <%= link_to "SignUp", signup_path, :class => 'btn btn-primary signup-button' %>

          </div>


        </nav>

      </div>
    </header>

  </div>

</div>





<!-- Body Contents -->
<body>




<!-- Main Head -->
<main class="mx-auto inner flex-column">
  <div class="main img-fluid">

    <!-- Main Image -->
    <%= image_tag("RootImage.png", :alt => 'RootImage', :class => "RootImage float-right img-fluid") %>


    <!-- Main Content -->
    <h1 class="main-content">Learning <br> From Home</h1>

  </div>
</main>


<br> <br> <br> <br> <br> <br> <br> <br> <br>


<!-- Items Scroll -->
<h1 class="mt-5 main-items-subject">Jump Into Subjects</h1>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

  <!-- Card One -->
  <div class="col-5">
    <div class="card card-block card-1"></div>
  </div>

  <!-- Card Two -->
  <div class="col-5">
    <div class="card card-block card-2"></div>
  </div>

  <!-- Card Three -->
  <div class="col-5">
    <div class="card card-block card-3"></div>
  </div>

  <!-- Card Four -->
  <div class="col-5">
    <div class="card card-block card-4"></div>
  </div>

  <!-- Card Five -->
  <div class="col-5">
    <div class="card card-block card-5"></div>
  </div>

  <div class="col-5">
    <div class="card card-block card-6"></div>
  </div>

</div>







<% yield %>
</body>





</html>