<!-- Navigation Bar -->
<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">

        <!-- NavItems -->
        <nav class="navbar">

          <!-- Logo Brand -->
          <%= image_tag("RootLogo.png", :alt => "RootLogo", :class => "RootlLogo") %>


          <div class="nav-item">

            <!-- Link Tags -->
            <%= link_to "Home", url: root_path, :id => 'nav-link' %>
            <%= link_to "Explore", url: root_path, :id => 'nav-link' %>
            <%= link_to "About", url: root_path, :id => 'nav-link' %>

          </div>



          <!-- SignUp & Login Buttons -->
          <div class="nav-buttons">

            <%= link_to "LogIn", root_path, :class => 'btn btn-primary login-button' %>
            <%= link_to "SignUp", root_path, :class => 'btn btn-primary signup-button' %>

          </div>


        </nav>

      </div>
    </header>

  </div>

</div>