<!DOCTYPE html>
<html>





<!-- Body Contents -->
<body>


<!-- MainTitle & SubTitle -->
<div>
  <%= image_tag("SignupLogo.png", :alt => 'Signup Logo', :class => 'SignupLogo img-fluid') %>
  <h1 class="archive-info">+ 32,000 Book Archives</h1>
</div>

<!-- Form Control -->
<div class="card signup-form float-right">
  <%= image_tag("FormLogo.png", :alt => 'FormImage', :class => 'FormImage') %>

  <!-- Form Contents -->
  <div class="card-body">
    <%= form_tag create_path, method: :post do %>


      <div>
        <!-- First Action -->
        <%= label_tag :fname, 'Firstname', {:class => 'signup-firstname-label'} %> <br>
        <%= text_field_tag signup_path, :fname , :placeholder => 'Firstname', :class => 'signup-firstname form-control float-right' %>

      <!-- Second Action -->
        <%= label_tag :lname, 'LastName', {:class => 'signup-lastname-label'} %> <br>
        <%= text_field_tag signup_path, :lname , :placeholder => 'Lastname', :class => 'signup-lastname form-control float-left' %>
      </div>

      <!-- Third Action -->
      <p>
        <%= label_tag :email, 'Email', {:class => 'signup-email-label'} %> <br>
        <%= text_field_tag signup_path , :email , :placeholder => 'Email Address', :class => 'signup-email form-control float-left' %>
      </p>

      <!-- Fourth Action -->
      <p>
        <%= label_tag :password, 'Password', {:class => 'signup-password-label'} %> <br>
        <%= password_field_tag signup_path, :password, :placeholder => 'Password', :class => 'signup-password form-control float-left' %>
      </p>

      <!-- Finalization -->
      <%= submit_tag "SignUp", {:class => 'signup-button-main btn btn-primary lead'} %>

    <% end %>
  </div>

</div>

<!-- Illustration -->
<%= image_tag("SignupImage.png", :alt => 'Signup Image', :class => 'SignupImage img-fluid') %>


<% yield %>
</body>





</html>